<footer class="page-footer color1">
        <div class="container">
                <div class="row">
                        <div class="col s12 m8 l6">
                                <h5 class="white-text">The World Snail Race Championship</h5>
                                <p class="grey-text text-lighten-4">Takes place every year for the St Glinglin in nowhere city.</p>
                        </div>
                        <div class="col s12 m4 l6">
                                <h5 class="white-text">How to challenge ?</h5>
                                <p class="grey-text text-lighten-4">Paint your country flag on you shampion's shell. Take a pic and send us your candidature at snail@world-championship.org</p>
                        </div>
                </div>
        </div>
        <div class="footer-copyright">
                <div class="container">
                        © 2017 Copyright Thomas DEMIRDJIAN, Eloi LAFARGUE
                        <a class="grey-text text-lighten-4 right" href="https://www.google.fr/search?biw=1920&bih=1001&tbm=isch&sa=1&ei=ZanMW8DcE5CvrgTV94XICw&q=painted+snail+shell+&oq=painted+snail+shell+&gs_l=img.3..0i30k1.21087.23684.0.23818.9.9.0.0.0.0.105.729.7j2.9.0....0...1c.1.64.img..1.8.639...0j0i7i30k1j0i8i7i30k1.0.fD1gKQUSJe4">Sponsors</a>
                </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
                $("document").ready(function () {
                        $(".button-collapse").sideNav();
                });
                $("document").ready(function(){
                        $('.sidenav').sidenav();
                });
                $("document").ready(function(){
                        $('select').formSelect();
  });
        </script>
</footer>