<header>
        <nav>
                <div class="nav-wrapper color1">
                  <a href="/teams" class="brand-logo">Leaderboard</a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/generator">Generator</a></li>
                  </ul>
                </div>
        </nav>
        <ul class="sidenav color1" id="mobile-demo">
                <li><a href="/teams"><span class="white-text">Teams</span></a></li>
                <li><a href="/generator"><span class="white-text">Generator</span></a></li>
        </ul>
</header>