<!DOCTYPE html>
<html>
	<head>
		<title>Team Maker</title>
	</head>
	<body>
		<h1>Make team:</h1>
		<form action="/team/new" method="POST">
			<label for="name">Country name</label>
			<input type="text" name="name" id="name" required>
			<label for="skill_mu">Skill_mu</label>
			<input type="text" name="skill_mu" id="skill_mu" required>
			<label for="skill_sigma">Skill sigma</label><br>
			<input type="text" name="skill_sigma" id="skill_sigma" required>
			<input type="submit" value="OK">
		</form>
	</body>
</html>